.main_container {
  margin: 0px auto 60px auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 620px);
  justify-content: center;
  gap: 30px;
  padding: 0px 15px;
}