.header {
  padding-top: 10px;
  background: #56ccf2;
  height: 60px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.client {
  grid-column: span 5;
  justify-self: end;
  display: flex;
  align-items: center;
  color: white;
}

.client span {
  padding-right: 20px;
  cursor: pointer;
}

.client_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('../../assets/images/avatar.jpg') no-repeat 0px -4px;
  background-size: auto 81px;
}

.logo {
  font-size: 24px;
  color: white;
  grid-column: span 3;
}

nav {
  grid-column: span 4;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 60px;
}

nav a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(17, 46, 54);
}

.hamburger {
  display: none;
}

.hamburger_layer {
  position: relative;
  cursor: pointer;
  padding-right: 56px;
}

.hamburger_layer::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  width: 40px;
  height: 19px;
  background: linear-gradient(
                  to bottom,
                  #fff 20%,
                  transparent 21%,
                  transparent 40%,
                  #fff 41%,
                  #fff 60%,
                  transparent 61%,
                  transparent 80%,
                  #fff 81%
  );
}

nav a {
  text-decoration: none;
  color: #fff;
}